<h1>About the application</h1>
<p>
  About information. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac nunc non eros posuere viverra id non risus. Donec a arcu lacus. Nunc dictum eros sit amet purus convallis, non auctor odio consequat. Pellentesque et magna blandit, malesuada libero a, suscipit sapien. Mauris lectus quam, convallis a nisl quis, luctus facilisis sapien. Quisque cursus, elit et auctor ultricies, metus augue tempus dolor, in rutrum lacus erat at lorem. Etiam quis nulla interdum, luctus nisi at, iaculis urna. Duis magna sem, luctus at leo vitae, gravida laoreet sem. In fermentum convallis vestibulum. Vivamus congue elit vitae orci pellentesque blandit. Fusce quis posuere ante, non dapibus urna. Morbi varius elementum tortor, nec dapibus urna. Etiam lobortis ante in commodo imperdiet. Vestibulum sed elit lectus. Donec tristique ac dolor ut tristique. Integer condimentum auctor tortor at rhoncus. <%= link_to '...more', 'https://lsa.umich.edu/' %> 
</p>
